.idea/
venv/
ENV/
env/
venv.bak/
# PyCharm project files
.idea/

# VSCode project files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Windows files
Thumbs.db